<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20D91</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mc</string>
				<string>stk</string>
				<string>oxtstack</string>
				<string>oxtscript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OpenXTalkDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Stack</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STAK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rev</string>
				<string>livecode</string>
				<string>livecodescript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LiveCodeDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiveCode Stack</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RSTK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>OpenXTalk-Community</string>
	<key>CFBundleGetInfoString</key>
	<string>9.6.3.15543, Copyright 2000-2021 LiveCode Ltd., Paul McClernan 2021 GPL3 with exceptions</string>
	<key>CFBundleIconFile</key>
	<string>OpenXTalk.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.openxtalk.ide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>9.6.3.15543, Copyright 2000-2021 LiveCode Ltd. Paul McClernan 2021</string>
	<key>CFBundleName</key>
	<string>OpenXTalk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.963.155431</string>
	<key>CFBundleSignature</key>
	<string>OXTk</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.963.155431</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E262</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.3</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>1250</string>
	<key>DTXcodeBuild</key>
	<string>12E262</string>
	<key>LFPrefersCarbon</key>
	<true/>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>1</string>
	</dict>
	<key>LSGetAppDiedEvents</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2021 Paul McClernan and © 2021 LiveCode Ltd., GPL3 with exceptions</string>
	<key>NSPrincipalClass</key>
	<string>com_runrev_livecode_MCApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>terminology.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LiveCode Object</string>
			<key>UTTypeIdentifier</key>
			<string>com.runrev.livecode.objects-1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>RSTK</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com/oxt.ide.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>STAK</string>
				<key>public.filename-extension</key>
				<array>
					<string>oxtstack</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Script Only Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.oxt.ide.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>STAK</string>
				<key>public.filename-extension</key>
				<array>
					<string>oxtscript</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.oxt.ide.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>STAK</string>
				<key>public.filename-extension</key>
				<array>
					<string>stk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LiveCode Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.runrev.revolution.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>rev</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LiveCode Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.runrev.livecode.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>livecode</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LiveCode Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.runrev.livecode.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>livecodescript</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
