[Desktop Entry]
Categories=Application;Development;
Comment[en_US]=HyperCard inspired Integrated Development Environment
Comment=HyperCard inspired Integrated Development Environment
Encoding=UTF-8
Exec=env GTK_DATA_PREFIX="" flock -xn .openxtalk.lck "/home/paul/Desktop/OpenXtalk-IDE-DontPanicEdition/IDE Bundle/Contents/Tools/OpenXTalk.x86_64"
GenericName[en_US]=xTalk Script Development Environment
GenericName=xTalk Script Development Environment
Icon=/home/paul/Desktop/OpenXtalk-IDE-DontPanicEdition/OXTArtwork/Icons & cursors SVGs/Application Icon/1024.png
MimeType=
Name[en_US]=OpenXTalk
Name=OpenXTalk
Name[es_ES]=OpenXTalk
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.963.1
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
